.faqs {
  padding-top: 152px;
  .title {
    height: 147px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
  }
}

.faq__container {
  max-width: 847px;
}
