.account {
  .red__backgorund {
    width: 100%;
    height: 287px;
    background: #7f0404;
  }

  .accountInfo {
    transform: translateY(-50%);
    position: absolute;
    // top: 50%;
    display: flex;
    align-items: flex-end;
    gap: 20px;

    .profilepic {
      width: 158px;
      height: 158px;
    }
    .info {
      padding-bottom: 10px;
      .name {
        height: 55px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #b68888;
      }

      .description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #d4d1c3;

        span {
          color: var(--bright-red);
        }
      }
      .logout {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: var(--white);
      }
    }
  }
}

.account__mainContent {
  padding-top: 170px;
  padding-bottom: 64px;
  display: flex;
  gap: 20px;
  .account__rignt {
    max-width: 847px;
  }
}
.account__walletSection {
  width: 847px;
  margin-bottom: 22px;
  background: rgba(0, 0, 0, 0.25);
  .title {
    padding: 11px 15px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    gap: 26px;
    img {
      height: 26px;
      width: 26px;
    }
    p {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
      /* identical to box height */

      letter-spacing: 1px;
      text-transform: uppercase;

      color: var(--white);
    }
  }
}

.account__wallet-list {
  padding: 13px 38.6px;
  padding-right: 61px;
  // padding-top: 0px;

  .list {
    padding: 5px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid #1b1b1b;
    img {
      height: 14px;
      width: 14px;
    }
    .list_title {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: var(--white);
    }
    .list_titleWhite {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
}

.account__left {
  .items__container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    min-width: 774px;

    .itemsHeader {
      padding: 5px 16px;
      background: #a7a7a7;
      border-radius: 20px 20px 0px 0px;
      backdrop-filter: blur(4px);
      /* Note: backdrop-filter has minimal browser support */

      .title {
        height: 37px;
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          height: 36px;
          width: 36px;
        }

        p {
          transform: translateY(-10%);
          font-family: var(--font-family);
          font-style: normal;
          font-weight: 400;
          font-size: 21px;
          display: flex;
          align-items: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #fffefe;
        }
      }
    }

    .items__container-content {
      min-height: 400px;
      border-radius: 0px 0px 19px 19px;
      // background-color: #1b1b1b;
      padding: 14px 13px;
      background: #bcbcbc;
      display: grid;
      grid-template-columns: repeat(5, 134px);
      grid-gap: 17.66px;
    }
  }
}
