* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
}
a {
  text-decoration: none;
}

.horizontalPadding {
  padding: 0px 145px 0px 115px;
}

.underNav {
  padding-top: 245px;
}

.redBackground {
  background-color: #7f0404 !important;
}
.paddingTop {
  margin-top: 200px;
  position: relative;
}
